<link rel="sitemap" href="/sitemap-index.xml" />
<title>Kate Blake</title>
<meta name="description" content="Kate Blake's website :)" />

<!-- Open Graph tags -->
<meta property="og:title" content="Kate Blake" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://kateblake.dev/" />
<meta property="og:description" content="Kate Blake's website :)" />
<meta property="og:image" content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp" />
<meta property="og:image:alt" content="A banner image for Kate Blake's website" />
